{% extends 'base.html.twig' %}

{% block title %}{{acteur.nom}}{% endblock %}

{% block body %}
<h1>{{acteur.prenom}} {{acteur.nom}}</h1>
<h2>Film</h2>
<div class="list-group">
{% for role in acteur.roles %}
    <a href="{{path('film_detail', {id: role.film.id})}}" class="list-group-item list-group-item-action">{{role.film.titre}}</a>
{% endfor %}
</div>  
{% endblock %}
