{% extends "base.html.twig" %}

{% block title %}{{film.titre}}{% endblock %}

{% block body %}
<h1>{{film.titre}}</h1>
<h2>Durée : {{film.duree}}</h2>

<h2>Réalisateur</h2> 
<p>{{film.realisateur.prenom}} {{film.realisateur.nom}}</p>

<h2>Acteur</h2>
    <div class="list-group">
    {% for role in film.roles %}
        <a href="{{path('acteur_detail', {id: role.acteur.id})}}" class="list-group-item list-group-item-action">{{role.acteur.prenom}} {{role.acteur.nom}} : {{role.nom}}</a>
    {% endfor %}
    </div>    

<h3>Prochaine séance :</h3> 
...
<h4>Commentaires</h4>
{% for comment in film.comments %}
<div class="mt-3">
    <p>{{comment.user.pseudo}}</p>
    <p>{{comment.creatAt|format_datetime('short', 'short', locale='fr')}}</p>
    <p>{{comment.content}}</p>
</div>
{% endfor %}

{{form_start(form, {'action': path('comment', {id: film.id}), 'method': 'POST'})}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary btn-sm">Envoyer</button>
{{form_end(form)}}
{% endblock %}