{% extends "base.html.twig" %}

{% block title %}{{titleFromController}}{% endblock %}

{% block body %}
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        {# <th>Role</th> #}
    </thead>
    <tbody>
        {% for acteur in acteurs %}
            <tr>
                <td>{{acteur.id}}</td>
                <td>{{acteur.nom}}</td>
                <td>{{acteur.prenom}}</td>
                {# <td>{{acteur.roles}}</td> #}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}