{% extends 'base.html.twig' %}

{% block title %}Acteur index{% endblock %}

{% block body %}
    <h1>Acteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur in acteurs %}
            <tr>
                <td>{{ acteur.id }}</td>
                <td>{{ acteur.nom }}</td>
                <td>{{ acteur.prenom }}</td>
                <td>
                    <a href="{{ path('acteur_show', {'id': acteur.id}) }}">show</a>
                    <a href="{{ path('acteur_edit', {'id': acteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('acteur_new') }}">Create new</a>
{% endblock %}
